<!-- templates/registration/login.html -->
{% extends 'registration/reg_base.html' %}
{% load i18n %}

{% block title %}Login{% endblock %}
{% block content %}
<main role="main" id="main" class="main_css container">
	<div class="card bg-light border-dark w-25 mx-auto p-3">
		<div class="mx-auto">
			<form class="form-inline" method="post">
				<fieldset>
					{% csrf_token %}
					{{ form.as_p }}
					<button class="btn btn-warning" type="submit">Login</button>
				</fieldset>
			</form>
		</div>
	</div>
</main>
{% endblock %}