<!-- templates/registration/base.html -->
{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>

	<title>{% block title %}Template{% endblock %}</title>

	<!-- Bootstrap core CSS -->
	<!-- <link href="/static/base_files/bootstrap.css" rel="stylesheet" type="text/css"/> -->
	<!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<!-- Custom styles for this template -->
	<link href="/static/base_files/museums.css" rel="stylesheet" type="text/css"/>

	<!-- CSS of user -->
	{% if user.is_authenticated %}
		<link href="/custom.css" rel="stylesheet" type="text/css"/>
	{% endif %}

</head>

<body id="user_css">
	<nav class="navbar navbar-dark bg-dark banner" id="upper_bar">
		<!-- BANNER -->
		{% with 'banner_'|add:LANGUAGE_CODE|add:'.png' as bnr %}
		  <img class="nav-item justify-content-start" id="banner" src="{% static bnr %}" alt="MUSEOS">
		{% endwith %}
	</nav>
	<!-- OPTION BAR -->
	<nav class="navbar navbar-expand-md navbar-dark bg-dark" id="option_bar">
		<ul class="navbar-nav mr-auto">
			{% if request.path != '/' %}
				<li class="nav-item">
					<a class="nav-link" href="/">{% trans "Home" %}</a>
				</li>
			{% endif %}
			{% if request.path == '/museos' %}
				<li class="nav-item active">
			{% else %}
				<li class="nav-item">
			{% endif %}
				<a class="nav-link" href="/museos">{% trans "All" %}</a>
			</li>
			{% if request.path == '/about' %}
				<li class="nav-item active">
			{% else %}
				<li class="nav-item">
			{% endif %}
				<a class="nav-link" href="/about">{% trans "About" %}</a>
			</li>
		</ul>
		<ul class="navbar-nav navbar-right" id="lang_button">
			<li class="form-inline">
				{% for language in languages %}
					{% if language.code != LANGUAGE_CODE %}
						<form action="/set_language" method="post" id="form_{{ language.code }}">
						{% csrf_token %}
							<input name="next" type="hidden" value="{{ request.get_full_path }}" />
							<input name="language" type="hidden" value="{{ language.code }}" />
							<button class="btn btn-info" type="submit" value="Submit">
							<img src="{% static language.code %}" alt="{{ language.code }}" width="24" height="12">
						</button>
						</form>
					{% endif %}
				{% endfor %}
			</li>
		</ul>
	</nav>
	{% block content %}
	{% endblock %}
	<footer class="footer" id="footer_bar">
		<div class="container">
			<span class="text-muted">
				{% trans "This application uses data from the open data portal of Madrid." %}
				<a href="https://datos.madrid.es/portal/site/egob/menuitem.c05c1f754a33a9fbe4b2e4b284f1a5a0/?vgnextoid=118f2fdbecc63410VgnVCM1000000b205a0aRCRD&vgnextchannel=374512b9ace9f310VgnVCM100000171f5a0aRCRD&vgnextfmt=default">Link</a> | 
				<a href="/topmuseums">
					<img src="{% static '49.png' %}" alt="M RSS" width="24" height="24">
				</a> | 
				<a href="/lastcomments">
					<img src="{% static '50.png' %}" alt="C RSS" width="24" height="24">
				</a>
			</span>
		</div>
	</footer>
</body>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>