<!-- templates/base.html -->
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{% block title %}Title{% endblock %}</title>
</head>
<body>
	<main>
		<!-- BANNER -->
		{% load static %}
		<img src="{% static "banner.png" %}" alt="BANNER">
		<!-- LOGIN BAR -->
		{% if user.is_authenticated %}
			<p>Hi, {{ user.username }} <!-- <a href=/logout>logout</a></p> -->
			<form method="get" action="/logout" class="inline">
				<input type="hidden" name="next" value="{{ request.get_full_path }}">
				<input type="submit" value="Logout">
			</form></main></p>
		{% else %}
			<p>Not logged in: 
			<form method="post" action="login">
				{% csrf_token %}
				<p><label for="id_username">Username:</label>
				<input id="id_username" type="text" name="username" maxlength="30" /></p>
				<p><label for="id_password">Password:</label>
				<input type="password" name="password" id="id_password" /></p>
				<input type="submit" value="Log in" />
				<input type="hidden" name="next" value="{{ request.get_full_path }}" />
			</form>
			</p>
		{% endif %}
		<!-- OPTION BAR -->
		{% if "{{ request.get_full_path }}" == "/" %}
			BARRA
		{% else %}
			"{{ request.get_full_path }}"
		{% endif %}
		{% block content %}
		{% endblock %}
	</main>
</body>
</html>