<!-- templates/base.html -->
{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>

	<title>{% block title %}Template{% endblock %}</title>

	<!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<!-- Custom styles for this template -->
	<link href="/static/base_files/museums.css" rel="stylesheet" type="text/css"/>

	<!-- CSS of user -->
	{% if user.is_authenticated %}
		<link href="/custom.css" rel="stylesheet" type="text/css"/>
	{% endif %}

</head>

<body id="user_css">
	<nav class="navbar navbar-dark bg-dark banner" id="upper_bar">
		<!-- BANNER -->
		{% with 'banner_'|add:LANGUAGE_CODE|add:'.png' as bnr %}
			<a href="/"><img class="nav-item justify-content-start" id="banner" src="{% static bnr %}" alt="MUSEOS"></a>
		{% endwith %}
		<!-- LOGIN BAR -->
		<div class="nav-item justify-content-end" id="login_bar">
			{% if user.is_authenticated %}
				<p class="loggedin_text">{% trans "Hi" %}, {{ user.username }}</p>
				<form class="form-inline justify-content-end" method="get" action="/logout">
					<input type="hidden" name="next" value="{{ request.get_full_path }}">
					<button type="submit" class="btn btn-warning">Logout</button>
				</form>
			{% else %}
				<p><form class="form-inline" method="post" action="/login">
					{% csrf_token %}
					<label class="sr-only" for="id_username">{% trans "Username" as usr %}:</label>
					<input id="id_username" class="form-control mr-sm-2" type="text" name="username" placeholder={{ usr }} maxlength="30">

					<label class="sr-only" for="id_password">{% trans "Password" as psswd %}:</label>
					<input id="id_password" class="form-control mr-sm-2" type="password" name="password" placeholder={{ psswd }}>

					<input type="hidden" name="next" value="{{ request.get_full_path }}"/>
					<button type="submit" class="btn btn-warning">Log in</button>
				</form></p>
				<form class="form-inline justify-content-end" method="get" action="/signup">
					<button type="submit" class="btn btn-warning">Sign up</button>
				</form>
			{% endif %}
		</div>
	</nav>
	<!-- OPTION BAR -->
	<nav class="navbar navbar-expand-md navbar-dark bg-dark" id="option_bar">
		<ul class="navbar-nav mr-auto">
			{% if request.path != '/' %}
				<li class="nav-item">
					<a class="nav-link" href="/">{% trans "Home" %}</a>
				</li>
			{% endif %}
			{% if request.path == '/museos' %}
				<li class="nav-item active">
			{% else %}
				<li class="nav-item">
			{% endif %}
				<a class="nav-link" href="/museos">{% trans "All" %}</a>
			</li>
			{% if request.COOKIES.access_only == 'True' %}
					<li class="nav-item">
						<form class="form-inline" method="post" action="/accessonly">
							{% csrf_token %}
							<input type="hidden" name="next" value="{{ request.path }}"/>
							<input type="hidden" name="access_only" value="False"/>
							<button class="nav-link btn btn-link active" type="submit" formmethod="post">{% trans "Museums only" %}</button>
						</form>
			{% else %}
					<li class="nav-item">
						<form class="form-inline" method="post" action="/accessonly">
							{% csrf_token %}
							<input type="hidden" name="next" value="{{ request.path }}"/>
							<input type="hidden" name="access_only" value="True"/>
							<button class="nav-link btn btn-link" type="submit" formmethod="post">{% trans "Museums only" %}</button>
						</form>
			{% endif %}
			</li>

			{% if request.path == '/about' %}
				<li class="nav-item active">
			{% else %}
				<li class="nav-item">
			{% endif %}
				<a class="nav-link" href="/about">{% trans "About" %}</a>
			</li>
		</ul>
		<ul class="navbar-nav navbar-right" id="lang_button">
			<li class="form-inline">
				{% for language in languages %}
					{% if language.code != LANGUAGE_CODE %}
						<form action="/set_language" method="post" id="form_{{ language.code }}">
						{% csrf_token %}
							<input name="next" type="hidden" value="{{ request.get_full_path }}" />
							<input name="language" type="hidden" value="{{ language.code }}" />
							<button class="btn btn-info" type="submit" value="Submit">
							<img src="{% static language.code %}" alt="{{ language.code }}" width="24" height="12">
						</button>
						</form>
					{% endif %}
				{% endfor %}
			</li>
		</ul>
	</nav>
	{% block content %}
	{% endblock %}
	<footer class="footer" id="footer_bar">
		<div class="container">
			<span class="text-muted">
				{% trans "This application uses data from the open data portal of Madrid." %}
				<a href="https://datos.madrid.es/portal/site/egob/menuitem.c05c1f754a33a9fbe4b2e4b284f1a5a0/?vgnextoid=118f2fdbecc63410VgnVCM1000000b205a0aRCRD&vgnextchannel=374512b9ace9f310VgnVCM100000171f5a0aRCRD&vgnextfmt=default">Link</a> | 
				<a href="/topmuseums">
					<img src="{% static '49.png' %}" alt="M RSS" width="24" height="24">
				</a> | 
				<a href="/lastcomments">
					<img src="{% static '50.png' %}" alt="C RSS" width="24" height="24">
				</a>
			</span>
		</div>
	</footer>
</body>

<!-- Script para cambiar de tema en la pagina de usuario -->
<script type="text/javascript">
	function changeTheme() {
			var className = document.getElementById("user_css").className
			if(className=="bg-secondary") {
				document.getElementById("user_css").className = " bg-light";
			} else {
				document.getElementById("user_css").className = "bg-secondary";
			}
			var className2 = document.getElementById("side_card").className
			if(className2=="card bg-warning border-dark") {
				document.getElementById("side_card").className = "card bg-light border-dark";
			} else {
				document.getElementById("side_card").className = "card bg-warning border-dark";
			}
	}
</script>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>