<!-- templates/bstrp.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en"><head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
	<!-- <link rel="icon" href="/favicon.ico"> -->

	<title>{% block title %}Template{% endblock %}</title>

	<!-- Bootstrap core CSS -->
	<link href="/static/bstrp_files/bootstrap.css" rel="stylesheet" type="text/css"/>

	<!-- Custom styles for this template -->
	<link href="/static/bstrp_files/starter-template.css" rel="stylesheet" type="text/css"/>
	<link href="/static/bstrp_files/sticky-footer.css" rel="stylesheet" type="text/css"/>

</head>

<body>
	<nav class="navbar navbar-dark bg-dark banner">
		<!-- BANNER -->
		<img class="nav-item justify-content-start" src="{% static "banner.png" %}" alt="BANNER">
		<!-- LOGIN BAR -->
		<div class="nav-item justify-content-end">
			{% if user.is_authenticated %}
				<p>Hi, {{ user.username }} <!-- <a href=/logout>logout</a></p> -->
				<form class="form-inline" method="get" action="/logout">
					<input type="hidden" name="next" value="{{ request.get_full_path }}">
					<input type="submit" value="Logout">
				</form></p>
			{% else %}
				<p>Not logged in: 
				<form class="form-inline" method="post" action="/login">
					{% csrf_token %}
					<p><label for="id_username">Username:</label>
					<input id="id_username" type="text" name="username" maxlength="30" /></p>
					<p><label for="id_password">Password:</label>
					<input type="password" name="password" id="id_password" /></p>
					<input type="submit" value="Log in" />
					<input type="hidden" name="next" value="{{ request.get_full_path }}" />
				</form>
				<form class="form-inline" method="get" action="/signup">
					<input type="submit" value="sign up"/>
				</form>
				</p>
			{% endif %}
		</div>
	</nav>
	<nav class="navbar navbar-expand-md navbar-dark bg-dark">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a class="nav-link" href="/">Inicio <span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/museos/">Todos</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/about/">About</a>
			</li>
		</ul>
	</nav>
	{% block content %}
	{% endblock %}
</body>
<footer class="footer">
	<div class="container">
		<span class="text-muted">Esta aplicación utiliza datos del portal de datos abiertos de la ciudad de Madrid. <a href="https://datos.madrid.es/portal/site/egob/menuitem.c05c1f754a33a9fbe4b2e4b284f1a5a0/?vgnextoid=118f2fdbecc63410VgnVCM1000000b205a0aRCRD&vgnextchannel=374512b9ace9f310VgnVCM100000171f5a0aRCRD&vgnextfmt=default">Link</a></span>
	</div>
</footer>

<!-- /.container -->
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/static/bstrp_files/jquery-3.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="/static/bstrp_files/popper.js"></script>
<script src="/static/bstrp_files/bootstrap.js"></script>
</html>