<!-- templates/main.html -->
{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Home" %}{% endblock %}
{% block content %}
<main role="main" id="main" class="main_css container">
	<div class="row">
		<div class="col-md-9">
			{% for museum in Museum_list %}
				<div id="main_card">
					<a id="museum_title" href="{{ museum.url }}">{{ museum.name }}</a>
					<p id="museum_content">{{ museum.address }}<br>
					<a href="/museos/{{ museum.id }}">Más información</a></p>
				</div>
			{% endfor %}
		</div>
		<aside class="col-md-3 card bg-light border-dark" id="side_card">
			{% for collection in User_list %}
				<p><a href="/{{ collection.user }}">{{ collection.title }}</a><br>
				{% trans "by" %}: {{ collection.user }}<br>
			{% endfor %}
		</aside>
	</div>
</main>
{% endblock %}