<!-- templates/museo.html -->
{% extends 'bstrp.html' %}
{% block title %}{{ Museum.name }}{% endblock %}
{% block content %}
<main role="main" id="main" class="main_css container">
	<div class="row"><h1>{{ Museum.name }}</h1></div>
	<div class="row">
		<p><a href="{{ Museum.url }}">LINK</a></p>
		<p>{{ Museum.description }}<br></p>
		<p>{{ Museum.address }}<br>
			{{ Museum.tel }}<br>
			{{ Museum.email }}<br></p>
	</div>
	<div class="row">
		<p>
			<form method="post">
				<fieldset>
					<legend>Comment:</legend>
					{% csrf_token %}
					{{ Form }}
					<input type="submit" value="Coment">
				</fieldset>
			</form>
		</p>
	</div>
	<div class="row">
		<p>
			<form method="post">
				{% csrf_token %}
				<input type="hidden" name="add" value="True">
				<input type="submit" value="Add museum">
			</form>
		</p>
	</div>
	<div class="row">
		<h3>Comments:</h3>
		{% for coment in Museum.coment.all %}
			<p>{{ coment.text }}</p>
		{% endfor %}
	</div>
</main>
{% endblock %}